{% extends 'shop/base.html' %}
{% block title %} Address Book {% endblock %}
{% load staticfiles %}
{% block contain %}
<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-5 border bg-gray text-black text-center ">
                <div class=" ">
                    <div class="list-group category_nav">
                        <a href="/account/login/" class="list-group-item">Login</a>
                        <a href="/account/register/" class="list-group-item">Register</a>
                        <a href="https://www.startech.com.bd/account/register" class="list-group-item">Forgotten Password</a>
                        <a href="https://www.startech.com.bd/account/register" class="list-group-item">My Account</a>
                        <a href="/address-book/" class="list-group-item">Address Book</a>
                        <a href="/order-history/" class="list-group-item">Order History</a>
                        <a href="/account/logout/" class="list-group-item">Sign out</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-5 border">
                <div class="box-body">
                    <table class="table table-bordered table-hover" style="margin-left:15px; margin-right:15px;width: 97%;">
                        <br>
                        <h3 style="color:green; text-align:left; margin-left:20px;">Address Book</h3>
                        <li style="float:right; margin-right:22px; color:#417690;"><a href="/add-address-book/" class="btn btn-secondary" style="background:#1a9cb7;color:white;margin-right:20px;"> + ADD NEW ADDRESS </a></li>
                        <br><br>
                        <thead style="text-align:center;background:#f1f1f1;">
                            <tr>                    
                                <th style="text-align:center;">Name</th>
                                <th style="text-align:center;">Email</th>
                                <th style="text-align:center;">Phone Number</th>
                                <th style="text-align:center;">Address</th>
                                <th style="text-align:center;">Action</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center;">
                            <tr class="gradeX odd"  role="row">
                                <td> {{ address.user_name }} </td>
                                <td> {{ address.user_email }} </td>
                                <td> {{ address.user_mobile }}</td>
                                <td> {{ address.address }} </td>
                                <td><a href="/edit/{{ address.id }}/address-book/" class="btn btn-warning" title="Edit"><i class="fas fa-edit"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}