{% extends 'shop/base.html' %}
{% block title %} {{ warranty.meta_title }} {% endblock %}
{% block meta_description %} {{ warranty.meta_description }} {% endblock %}
{% block meta_keywords %} {{ warranty.meta_keywords }} {% endblock %}
{% block meta_title %} {{ warranty.meta_title }} {% endblock %}
{% load staticfiles %}
{% block contain %}
    <section class="testimonial py-5" id="testimonial">
        <div class="container">
            <div class="row ">
                <div class="col-md-4 py-5 border bg-gray text-black text-center ">
                    <div class=" ">
                        <div class="list-group category_nav">
                            <a href="/account/login/" class="list-group-item">Login</a>
                            <a href="/account/register/" class="list-group-item">Register</a>
                            <a href="/account/change-password/" class="list-group-item">Forgotten Password</a>
                            <a href="/my-account/" class="list-group-item">My Account</a>
                            <a href="/address-book/" class="list-group-item">Address Book</a>
                            <a href="/order-history/" class="list-group-item">Order History</a>
                            <a href="/account/logout/" class="list-group-item">Sign out</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 py-5 border">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {% if message.tags %} <h4><i class="icon fa fa-check"></i> {{ message }}</h4>{% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <h4>Customer Login</h4><hr>
                    <form method="POST" >{% csrf_token %}
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="password" name="password" class="form-control" id="inputEmail4" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <button type="submit" class="btn btn-success">login</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <a href="/account/login/" >I forgot my password</a><br>
                    <a href="/account/register/"  class="text-center w3-text-red">New Customer</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}