{% extends 'shop/base.html' %}
{% block title %} {{ emi.meta_title }} {% endblock %}
{% block meta_description %} {{ emi.meta_description }} {% endblock %}
{% block meta_keywords %} {{ emi.meta_keywords }} {% endblock %}
{% block meta_title %} {{ emi.meta_title }} {% endblock %}
{% load staticfiles %}
{% load data_load %}
{% block contain %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'shop/styles/shop_styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'shop/styles/store.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'shop/styles/shop_responsive.css' %}">
</head>

<div class="super_container">
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- ASIDE -->
				<div id="aside" class="col-md-3">
					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Categories</h3>
						{% regroup "1"|product_menu by cat_name.cat_name as product_category_list %}
						{% for data in product_category_list  %}
							<div class="checkbox-filter">
								<div class="input-checkbox">
									<input type="checkbox" id="category-1">
									<label for="category-1">
										<span></span>
											{{ data.grouper}}
										<small>(120)</small>
									</label>
								</div>
							</div>
						{% endfor %}
					</div>
					<!-- /aside Widget -->

					<!-- aside Widget -->
					<div class="aside">
						<div class="sidebar_section filter_by_section">
							<div class="sidebar_subtitle">Price</div>
							<div class="filter_price">
								<div id="slider-range" class="slider_range"></div>
								<p>Range: </p>
								<p><input type="text" id="amount" class="amount" readonly style="border:0; font-weight:bold;"></p>
							</div>
						</div>
					</div>
					<!-- /aside Widget -->

					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Brand</h3>
						<div class="checkbox-filter">
							{% for data in pro_brand %}
								<div class="input-checkbox">
									<input type="checkbox" id="brand-1">
									<label for="brand-1">
										<span></span>
											{{ data.brand_name}}
										<small>(578)</small>
									</label>
								</div>
							{% endfor %}
						</div>
					</div>
					<!-- /aside Widget -->
				</div>
				<!-- /ASIDE -->

				<!-- STORE -->
				<div id="store" class="col-md-9">
					<!-- store top filter -->
					<div class="store-filter clearfix">
						<div class="shop_bar clearfix">
							<div class="shop_product_count"><span>186</span> products found</div>
							<div class="shop_sorting">
								<span>Sort by:</span>
								<ul>
									<li>
										<span class="sorting_text">highest rated<i class="fas fa-chevron-down"></span></i>
										<ul>
											<li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>highest rated</li>
											<li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>name</li>
											<li class="shop_sorting_button"data-isotope-option='{ "sortBy": "price" }'>price</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /store top filter -->

					<!-- store products -->
					<div class="row">
						<!-- product -->
						{% for data in product_list %}
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="/static/shop/media/{{ data.product_image1 }}" alt="">
										<div class="product-label">
											<span class="new">NEW</span>
										</div>
									</div>
									<div class="product-body">
										<p class="product-category">{{ data.brand_name }}</p>
										<h3 class="product-name1"><a href="/{{data.product_name|str2url}}" title="{{ data.product_name }}">{{ data.product_name }}</a></h3>
										<h4 class="product-price">{{ data.price }}৳ <del class="product-old-price">{{ data.regular_price }}৳</del></h4>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="far fa-heart"></i><span class="tooltipp">add to wishlist</span></button>
											<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<a href="/add-to-cart/{{data.id}}"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button></a>
									</div>
								</div>
							</div>
						{% endfor %}
						<div class="clearfix visible-sm visible-xs"></div>
					</div>
					<!-- /store products -->

					<!-- store bottom filter -->
					<div class="store-filter clearfix">
						<ul class="store-pagination">
							<li class="active">1</li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}