{% extends 'shop/base.html' %}
{% block title %} Cart List {% endblock %}
{% load staticfiles %}
{% block contain %}
<head>
	{% comment %} <link rel="stylesheet" type="text/css" href="styles/cart_styles.css"> {% endcomment %}
	<link rel="stylesheet" type="text/css" href="{% static 'shop/styles/cart_responsive.css' %}">
</head>

<div class="cart_section">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-10 col-md-offset-1">
				<div class="process-wrap">
					<div class="process text-center active">
						<p><span>01</span></p>
						<h3>Shopping Cart</h3>
					</div>
					<div class="process text-center">
						<p><span>02</span></p>
						<h3>Checkout</h3>
					</div>
					<div class="process text-center">
						<p><span>03</span></p>
						<h3>Order Complete</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="cart_container">
					<div class="cart_title">Shopping Cart</div>
					<div class="cart_items">
						<ul class="cart_list">
							{% if cart_products %}
								{% for data in cart_products %}
									<li class="cart_item clearfix">
										<div class="cart_item_image"><img src="/static/shop/media/{{ data.product_name.product_image1 }}" alt=""></div>
										<div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
											<div class="cart_item_name cart_info_col">
												{% if forloop.first %}<div class="cart_item_title">Name</div>{% endif %}
												<div class="cart_item_text">{{ data.product_name}}</div>
											</div>
											<div class="cart_item_quantity cart_info_col">
												{% if forloop.first %}<div class="cart_item_title">Quantity</div>{% endif %}
												<div class="cart_item_text">{{ data.quantity}}</div>
											</div>
											<div class="cart_item_price cart_info_col">
												{% if forloop.first %}<div class="cart_item_title">Unit Price</div>{% endif %}
												<div class="cart_item_text">{{ data.qt_price}}৳</div>
											</div>
											<div class="cart_item_total cart_info_col">
												{% if forloop.first %}<div class="cart_item_title" style="text-align: left;">Total</div>{% endif %}
												<div class="cart_item_text">{{ data.total_price}}৳</div>
											</div>
											
											<div class="cart_item_total cart_info_col">
												{% if forloop.first %}<div class="cart_item_title">Remove</div>{% endif %}
												<div class="cart_item_text">
													<a href="/delete-cart/{{ data.id }}" class="closed" style="color:red;" title="Remove"><i class="fa fa-times" aria-hidden="true"></i></a>
												</div>
											</div>
										</div>
									</li>
								{% endfor %}
							{% endif %}
						</ul>
					</div>
					
					<!-- Order Total -->
					<div class="order_total">
						<div class="order_total_content text-md-right">
							<div class="order_total_title">Total:</div>
							{% if total_price %}
								<div class="order_total_amount">{{ total_price }}৳</div>
							{% else %}
								<div class="order_total_amount">0৳</div>
							{% endif %}
						</div>
					</div>

					<div class="cart_buttons">
						<a href="/checkout/" class="button cart_button_checkout">Checkout</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}